/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*,*::before,*::after{
  box-sizing: inherit;
}

/* Globales */

body{
  background-color: #f2f2f2;
  font-family: 'Open Sans',sans-serif;
}

img{
  width: 100%;
}

h1{
  font-family: 'PT Sans',sans-serif;
}

h2{
  font-family: 'Oswald',sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
}

h2::after{
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 3rem;
  width: 10rem;
  display: block;
}

h3{
  font-family: 'PT Sans',sans-serif;
  font-size: 2rem;
  color: #fe4918;
  margin: 0;
}

h4{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 0.2rem solid #fe4918;
  padding-bottom: 1rem;
  font-size: 1.9rem;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn{
  background-color: #fe4918;
  color: white;
  text-decoration: none;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 2rem;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
  border: 0.2rem solid #fe4918;
}

.btn:hover{
  background-color: #e33000;
}

.btn-transparente{
  background-color: transparent;
  border-color: #ffffff;
  transition-property: background-color, border-color;
}

.btn-transparente:hover{
  border-color: #fe4918;
}

.hollow,
.hollow:hover{
  background-color: #ffffff;
  color: #fe4918;
}

.float-derecha{
  float: right;
}

.contenedor{
  width: 98%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .contenedor{
    width: 95%;
  }
}

@media (min-width: 768px) {
  .contenedor{
    width: 90%;
  }
}

@media (min-width: 992px) {
  .contenedor{
    width: 90%;
    max-width: 1200px
  }
}

.seccion{
  padding: 3rem 0;
}

.seccion p{
  font-size: 1.4rem;
  text-align: center;
}

/* Header */

.hero{
  background-image: url(../img/encabezado.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.contenido-header{
  padding-top: 4rem;
  text-align: center;
}

@media (min-width: 768px) {
  .contenido-header{
    padding-top: 1rem;
  }
}

.redes-sociales{
  text-align: center;
}

.redes-sociales a{
  color: #ffffff;
  font-size: 3rem;
  margin-right: 2rem;
}

.redes-sociales a:last-of-type{
  margin-right: 0;
}

.informacion-evento{
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .informacion-evento{
    width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
  }
}

.informacion-evento p{
  margin: 0;
  display: inline;
  font-size: 2rem;
  text-transform: uppercase;
}

.informacion-evento p i{
  color: #fe4918;
  font-size: 2.4rem;
}

.fecha{
  float: left;
}

.ciudad{
  float: right;
}

.slogan{
  margin: 0;
  display: inline;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

.slogan span{
  font-weight: bold;
}

.nombre-sitio{
  font-size: 5.9vw;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 768px) {
  .nombre-sitio{
    margin: 0;
    font-size: 10vw;
    line-height: 1;
  }
}

/* Navegacion Principal */

.barra{
  background-color: #353535;
  padding: 2rem 0;
}

.logo{
  width: 80%;
  float: left;
}

@media (min-width: 768px) {
  .logo{
    width: 33%;
  }
}

.navegacion-principal{
  display: none;
}

.navegacion-principal a{
  font-family: 'Oswald',sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  width: 100%;
  display: inline-block;
  text-align: center;
}

@media (min-width: 1060px) {
  .navegacion-principal a{
    font-size: 2.5rem;
  }
}

.navegacion-principal a:hover{
  background-color: #fe4918;
}

.navegacion-principal a:last-of-type{
  border: 0.2rem solid #fe4918;
  color: #fe4918;
}

.navegacion-principal a:last-of-type:hover{
  color: #ffffff;
}

@media (min-width: 768px) {
  .navegacion-principal{
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }

  .navegacion-principal a{
    padding: 0.5rem;
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .navegacion-principal a{
    padding: 1.5rem;
  }
}

/* Menú movil */
.menu-movil{
  width: 6rem;
  display: block;
  float: right;
  text-align: right;
  margin-top: 0.8rem;
  cursor: pointer;
}

@media (min-width: 480px) {
  .menu-movil{
    margin-top: 1.2rem;
  }
}

@media (min-width: 768px) {
  .menu-movil{
    display: none;
  }
}

.menu-movil span{
  height: 0.8rem;
  margin-bottom: 0.6rem;
  background-color: #ffffff;
  display: block;
}

/* Programa del evento */

.programa{
  position: relative;
}

.contenedor-video{
  max-width: 100%;
  overflow-x: hidden;
}

.contenido-programa{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.programa-evento{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  margin-top: 8rem;
}

@media (min-width: 768px) {
  .programa-evento{
    width: 70%;
  }
}

@media (min-width: 992px) {
  .programa-evento{
    width: 50%;
  }
}

.menu-programa{
  width: 100%;
  border-bottom: 1px solid #fe4918;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .menu-programa{
    display: table;
  }
}

.menu-programa a{
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family: 'Oswald',sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.menu-programa a i{
  color: #fe4918;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .menu-programa a{
    display: table-cell;
  }
}

.detalle-evento{
  margin-top: 2rem;
  border-bottom: 1px solid #000000;
  padding: 0 2rem;
}

.detalle-evento:last-of-type{
  border: none;
}

.detalle-evento p{
  margin-bottom: 2rem;
  font-size: 2rem;
}

.detalle-evento p i{
  color: #fe4918;
}

/* Invitados */

.lista-invitados li{
  padding: 1rem;
  float: left;
}

@media (min-width: 480px) {
  .lista-invitados li{
    width: 50%;
  }
}

@media (min-width: 768px) {
  .lista-invitados li{
    width: 33.3%;
  }
}

.invitado{
  position: relative;
  overflow: hidden;
}

.invitado:hover img{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.invitado:hover p{
  bottom: -8rem;
  opacity: 0;
}

.invitado img{
  max-width: 100%;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -webkit-transition-property: filter,transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: filter,transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.invitado p{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  text-align: left;
  color: #fe4918;
  font-family: 'Oswald',sans-serif;
  text-transform: uppercase;
  -webkit-transition-property: opacity,bottom;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: opacity,bottom;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Contador */

.parallax::before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.contador{
  position: relative;
  height: auto;
}

.contador::before{
  content: '';
  background-image: url(../img/bg-resumen.jpg);
}

.resumen-evento{
  position: relative;
  padding: 12rem 0;
}

.resumen-evento li{
  width: 50%;
  float: left;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .resumen-evento li{
    width: 25%;
  }
  
}

.numero{
  display: block;
  color: #fe4918;
  font-size: 6.4rem;
  font-family: 'Oswald',sans-serif;
  margin-bottom: 1rem;
}

/*Tabla de precios*/

.lista-precios > li{
  padding: 1rem;
}

@media (min-width: 768px) {
  .lista-precios > li{
    float: left;
    width: 33.3%;
  }
}

.tabla-precio{
  border: 0.1rem solid #e1e1e1;
  background-color: #ffffff;
  padding: 4rem 0;
  text-align: center;
  transition-property: transform,box-shadow,border;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.tabla-precio:hover{
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  border: 0.1rem solid #fe4918;
  box-shadow: 0px 0px 5rem #666666;
}

.tabla-precio ul li{
  font-family: 'PT Sans',sans-serif;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #868686;
  line-height: 2.6rem;
}

.tabla-precio h3{
  font-family: 'Oswald',sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.tabla-precio p.numero{
  color: #000000;
  margin-top: 2rem 0;
  font-family: 'Oswald',sans-serif;
  display: block;
  margin-bottom: 1rem;
  font-size: 6.4rem;
}

.tabla-precio ul li::before{
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 0.5rem;
  font-size: 2rem;
  color: #008000;
  -webkit-font-smoothing: antialiased;
  content: '\f00c';
}

/* Mapa */

.mapa{
  height: 42rem;
  background-color: #008000;
}

/* Testimoniales */

.testimoniales{
  padding-bottom: 2rem;
}

.testimonial{
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .testimonial{
    float: left;
    width: 33.3%;
  }
}

.testimonial blockquote{
  background-color: #ffffff;
  border: 0.1rem solid #e1e1e1;
  position: relative;
  margin: 0 0 1rem 0;
  padding-bottom: 2rem;
}

.testimonial blockquote p{
  text-align: left;
  font-size: 1.6rem;
  font-family: 'PT Sans',sans-serif;
  padding: 0 2rem 0 6.5rem;
}

.testimonial blockquote p::before{
  content: '\201c';
  position: absolute;
  left: 1.3rem;
  top: 0.8rem;
  font-size: 12.8rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fe4918;
}

.info-testimonial{
  padding: 0;
}

.info-testimonial img{
  float: left;
  width: 20%;
  border-radius: 50%;
  margin-left: 2rem;
}

.info-testimonial cite{
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  padding-top: 2rem;
  font-size: 1.2rem;
  width: 66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;
}

.info-testimonial cite span{
  color: #000000;
  display: block;
  text-transform: none;
}

/* Newsletter */

.newsletter{
  position: relative;
  height: auto;
}

.newsletter::before{
  background-image: url(../img/bg-newsletter.jpg);
  content: '';
}

.newsletter .contenido{
  padding: 10rem 0;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.newsletter .contenido p{
  font-size: 1.5rem;
  text-transform: lowercase;
}

.newsletter .contenido h3{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 7vh;
  font-family: 'PT Sans',sans-serif;
}

/* Cuenta regresiva */

.cuenta-regresiva ul li{
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  font-size: 3.2rem;
  text-align: center;
}

.cuenta-regresiva ul li p.numero{
  font-size: 6.4rem;
}

@media (min-width: 768px) {
  .cuenta-regresiva ul li{
    width: 25%;
    float: left;
  }
}

/* Site Footer */

.site-footer{
  background-color: #353535;
  padding-top: 4rem;
  margin-top: 2rem;
}

.site-footer > div{
  color: #ffffff;
  padding: 0 2rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {

  .site-footer .contenedor > div{
    width: calc(33.3% - 2rem);
    float: left;
    margin: 0 1rem;
  }
  
}

@media (min-width: 992px) {
  .site-footer .contenedor{
    max-width: 1400px;
  }
}

.site-footer h3{
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  margin-bottom: 2rem;
}

.site-footer h3 span{
  color: #fe4918;
}

.ultimos-tweets li{
  margin-bottom: 1rem;
}

.site-footer nav.redes-sociales{
  text-align: left;
}

.copy{
  background-color: #2e2e2e;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem 0;
  margin-top: 2rem;
}

/* Paginas internas */

/* Registro */

.registro h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

.registro label{
  margin-bottom: 0.5rem;
}

.caja{
  background-color: #ffffff;
  border: 0.1rem solid #e1e1e1;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.caja p{
  font-weight: bold;
  font-size: 1.6rem;
}


.campo{
  padding: 2rem;
  font-weight: bold;
}

@media (min-width: 768px),(orientation: landscape) {
  .campo{
    float: left;
    width: 33.3%;
  }
}

.paquetes .tabla-precio:hover{
  transform: none;
  box-shadow: none;
}

.paquetes .tabla-precio input{
  clear: both;
  width: 10rem;
  margin: 1rem auto 0 auto;
  display: block;
}

.contenido-dia{
  padding: 2rem;
}


@media (min-width: 768px),(orientation: landscape) {
  .contenido-dia > div{
    float: left;
    width: 33.3%;
  }
}

.contenido-dia > div p{
  text-align: left;
}

.contenido-dia > div label{
  display: block;
  margin-bottom: 1rem;
}

.contenido-dia > div input{
  margin-right: 1rem;
}

.contenido-dia > div label time{
  color: #fe4918;
  font-weight: bold;
}

.resumen p{
  font-size: 1.9rem;
  text-transform: uppercase;
}

.resumen .extras{
  float: left;
  width: 50%;
  padding: 3rem;
}

.extras .orden{
  text-align: left;
  margin-bottom: 1rem;
}

.extras .orden input{
  margin: 1rem 0 0 0;
}

.resumen .total{
  float: right;
  width: 50%;
  padding: 3rem;
}

.resumen input{
  display: block;
  margin: 1rem auto;
}
/* ==========================================================================
Helper classes
========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

